#loading {
    overflow           : hidden;
    width              : 100vw;
    height             : 100vh;
    position           : absolute;
    z-index            : 4;
    background-color   : #3f3f3f;
    background-image   : url('../../assets/images/loading/bg.png');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    color              : #fff;
    transition         : opacity .3s;
}

.hidden-loading {
    opacity       : 0;
    pointer-events: none;
}

.loading-box {
    width    : 50%;
    height   : 50%;
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.bg-box {
    width : 100%;
    height: 100%;
}

.box-bg {
    width              : 100%;
    height             : 75%;
    position           : absolute;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
}

.box-bg-1 {
    background-image: url('../../assets/images/loading/bg_1.png');
}

.box-bg-2 {
    background-image: url('../../assets/images/loading/bg_2.png');
    animation       : rotate 3s linear infinite;
}

.progress-box {
    width    : 100%;
    height   : 75%;
    position : absolute;
    transform: scale(.5);
    overflow : hidden;
}

.progress-box .box-bg {
    width : 100%;
    height: 100%;
}

.box-progress {
    background-image: url('../../assets/images/loading/progress.png');
}

.box-mask {
    background-image: url('../../assets/images/loading/mask.png');
    top             : 0%;
    transition      : top .3s;
}

.loading-text {
    width     : 100%;
    position  : absolute;
    bottom    : 0;
    text-align: center;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 375px) {
    .loading-box {
        width: 75%;
    }
}