#roaming,
#view {
    width              : 45px;
    height             : 45px;
    position           : absolute;
    bottom             : 20px;
    left               : 20px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    cursor             : pointer;
    transition         : all .3s;
}

#roaming {
    background-image: url('../../assets/images/roaming/btn.png');
}

#view {
    background-image: url('../../assets/images/roaming/view.png');
}

#roaming:hover {
    background-image: url('../../assets/images/roaming/btn_hover.png');
}

#view:hover {
    background-image: url('../../assets/images/roaming/view_hover.png');
}