#roaming {
    width              : 45px;
    height             : 45px;
    position           : absolute;
    bottom             : 20px;
    left               : 20px;
    background-image   : url('../../assets/images/roaming/btn.png');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    cursor             : pointer;
    transition         : all .3s;
}

#roaming:hover {
    background-image: url('../../assets/images/roaming/btn_hover.png');
}

#isRoaming {
    width              : 45px;
    height             : 45px;
    position           : absolute;
    bottom             : 20px;
    left               : 20px;
    background-image   : url('../../assets/images/roaming/btn_hover.png');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    cursor             : pointer;
}

#roaming-mobile {
    display: none;
}